body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
  }

  .container {
    max-width: 600px;
    margin: 80px auto;
    padding: 40px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px auto;
    font-weight: 500;
    font-size: 1rem;
    gap: 10px;
    text-align: left;
    padding: 0;
}

input, select, textarea {
    flex: 1;
    padding: 7px 8px;
    font-size: 1em;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-left: 8px;
    min-width: 0; /* importante para que no se desborde */
}

textarea {
    resize: vertical;
    min-height: 50px;
    max-width: 100%;
}

button {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 16px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background: #0066cc;
    color: #fff;
    max-width: 320px;
    cursor: pointer;
    transition: background 0.2s;
}
button:hover {
    background: #004e99;
}

h2 {
    margin-bottom: 24px;
}  