body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}
.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}
h3 {
  text-align: center;
  margin-bottom: 28px;
  font-size: 1.4rem;
}
select {
  padding: 5px 0;
  font-size: 1rem;
  margin-top: 1px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input[type="text"], textarea, label{
  padding: 5px 0;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
  
  gap: 4px;
  text-align: center;
}

button[type="submit"] {
  background: #0072e7;
  color: #fff;
  padding: 16px 0;
  border: none;
  border-radius: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

button[type="submit"]:hover {
  background: #005bb5;
}

button[onclick]{
  background: #0072e7;
  color: #fff;
  padding: 16px 0;
  width: 300px;
  border: none;
  border-radius: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 16px;
  cursor: pointer;
  transition: background 0.2s;
}
button[onclick]:hover {
  background: #005bb5;
}